<!doctype html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- <meta name="color-scheme" content="light dark" /> -->
  <!-- <link rel="stylesheet" href="css/pico.min.css"> -->
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <title></title>
  <script src="request.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/driver.js/dist/driver.min.js"></script>

</head>

<body>
  <main id="app">
    <div style="display:flex">
      <article style="width:30%; margin-right:20px;" class="left-panel">
        <div >
          <el-timeline>
            <el-timeline-item timestamp="Step 1" placement="top" color=#0bbd87>
              <el-card>
                <h6>Understand the Context and Goal</h6>
                <p>
                  Goal: Predict the wine quality classification (≥ 7 or < 7) 
                  for the given instance using the provided features and their importances.
                  Context a set of features with specific values and the corresponding feature importance scores from the model.</p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="Step 2" placement="top" color="#0bbd87">
              <el-card>
                <h6>Analyze Feature Values and Importances</h6>
                <p>Note the importance scores to identify which features have the most influence on the prediction.</p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="Step 3" placement="top" color="#0bbd87">
              <el-card>
                <h6>Create an Initial Hypothesis</h6>
                <p>...</p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="Step 3" placement="top" icon="el-icon-more" type="primary">
              <el-card>
                <h6>What If</h6>
                <p></p>
              </el-card>
            </el-timeline-item>
          </el-timeline>
        </div>
      </article>
      <article style="flex: 1" >
        <div style="display: flex;justify-content: center;
        align-items: center; ">Instance Index:
        <input style="width:200px; margin:0 20px;" type="number" v-model="instance_index" placeholder="Input Index" aria-label="Text" />
        <button @click="fetchData">Load Instance Info</button>
      </div>
      <span aria-busy="true" v-if="isLoading">Generating...</span>
    
      <div style="text-align: center; margin-top: 20px;">
        <el-radio v-model="mode" label="prediction">Prediction</el-radio>
        <el-radio v-model="mode" label="featureImportance">Feature Importance</el-radio>
        <el-radio v-model="mode" label="GAM">GAM</el-radio>
      </div>


      <div style="display:flex">
        <div class="block-container" v-if="features_with_bound.length && value_list.length">
          <div class="block" v-for="(item, index) in features_with_bound" :class="{ 'highlight': value_list[index] !== initial_values[index] }">
            <span class="demonstration">{{item.name}}: </span>
            <span v-if="value_list[index] !== initial_values[index]" class="annotation">{{initial_values[index]}}->{{value_list[index]}} </span>
            <el-slider show-stops :step="computeStep(item.range)" style="width:130px;" v-model="value_list[index]" :min="item.range[0]" :max="item.range[2]"></el-slider>
          </div>
          <!-- <div v-for="item in features_with_bound">
            <label>
              {{item.name}}
              <input type="range" :value="item.range[1]" :min="item.range[0]" :max="item.range[2]" />
            </label>
          </div> -->
          <el-divider></el-divider>
          <div>
            <el-button @click="fetchData">Reset</el-button>
            <el-button @click="updateAnnotation" type="primary" @click="value_list=initial_values" :disabled="arraysAreEqual">Show Result</el-button>
          </div>
        </div>
        <div>
          <div v-if="mode=='prediction'" 
          style="width: 100%;text-align: center; margin-top: 200px; width: 100%;margin-left: 50px; border: 1px solid; padding: 10px;">
          <span style="font-weight: 600;">Model Prediction</span>
            <br/>
            <span style="font-size: 14px;">Quality {{predict==null?'--':(predict > 0?'>=7':"<7")}}</span>
          </div>
          <img v-if="org_instance_chart_url.length && mode=='featureImportance'" height="300px" :src="org_instance_chart_url"/>  
          <img v-if="org_instance_chart_url.length && mode=='GAM'" height="300px" src="./imgs/gam.png"/> 
        </div>
        
      </div>
      </article>
      
    </div>



  </main>
</body>

</html>
<script>
  window.vueApp = new Vue({
    el: '#app',
    data() {
      return {
        org_instance_chart_url:'',
        instance_index:0,
        current_feature:'',
        feature_value:null,
        features_with_bound:[],
        value_list:[],
        initial_values: [],
        predict:null,
        isLoading:false,
        mode:'prediction'
      }
    },
    methods: {
          async fetchData() {
            this.predict = null
            this.isLoading = true
            try {
              const headers = {
                'Content-Type': 'application/json'
              };
              const response = await fetch(`${window.location.href}get_org_instance_chart`, {
                method: 'POST',
                body: JSON.stringify({ 'index':this.instance_index }),
                headers: headers,
                mode: 'cors'
              });
              const res = await response.json();
              console.log("this.value_list",res.value_list)
              this.value_list = res.value_list.map(value => parseFloat(value)); // Ensure values are numbers
              console.log("this.value_list222",this.value_list)
              this.initial_values = [...this.value_list]; // Store initial values
              this.features_with_bound = res.features_with_bound;
              this.org_instance_chart_url = res.img_path
              this.isLoading = false
            } catch (error) {
              console.error('Error fetching data:', error);
              this.isLoading = false
            }
          },
          async updateAnnotation() {
            this.isLoading = true
            this.org_instance_chart_url = ''
            console.log("this.value_list",this.value_list)
            try {
              const headers = {
                'Content-Type': 'application/json'
              };
              const response = await fetch(`${window.location.href}update_annotation`, {
                method: 'POST',
                body: JSON.stringify(
                  { 'index':this.instance_index,
                    'value_list':this.value_list,
                    'org_values': this.initial_values
                  }
                  ),
                headers: headers,
                mode: 'cors'
              });
              const res = await response.json();
              this.isLoading = false
              setTimeout(()=>{
                this.org_instance_chart_url = res.img_path
              })
              this.predict = res.predict
              
            } catch (error) {
              console.error('Error fetching data:', error);
            }
          },
          computeStep(range) {
            const step = (range[2] - range[0]) / 5;
            let format_ = 3
            if(step<0.001){
              format_ = 5
            }
            return Number(step.toFixed(format_)); // Convert to number after fixing to 2 decimal places
          }

        
    },
    computed: {
      arraysAreEqual() {
        return JSON.stringify(this.initial_values) === JSON.stringify(this.value_list);
      }
    },

    created() {

    },
    mounted() {

    }
  })
</script>
<style>
  body{
    height: calc(100vh);
    margin:0;
    padding: 0;
    overflow: hidden;
  }
  .left-panel{
    height: calc(100vh - 40px);
    overflow: auto;
  }
  .block-container {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Right-align the blocks */
    margin-right: 10px;
  }
  
  .block{
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 35.5px;
    position: relative;
  }
  .demonstration{
    margin-right: 10px;
    min-width: 130px;
    text-align: right;
  }
  .highlight {
    color:deeppink;
    font-weight: 600;
  }
  .annotation{
    color:deeppink;
    position: absolute;
    top:24px;
    font-size: 12px;
    font-weight: 400;
    right: 140px;
  }

</style>