<!doctype html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- <meta name="color-scheme" content="light dark" /> -->
  <!-- <link rel="stylesheet" href="css/pico.min.css"> -->
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <title></title>
  <script src="request.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/driver.js/dist/driver.min.js"></script>
  <link rel="stylesheet" href="thirdParty/driver.min.css">
  <script src="https://cdn.jsdelivr.net/npm/driver.js/dist/driver.min.js"></script>

</head>

<body>
  <main id="app">
    <div style="display:flex;padding: 0 20px;">
      <el-button style="position:fixed; right:0" type="warning" @click="startGuide">Show Tutorial </el-button>

      <article style="flex: 1">
        <template>
          <el-tabs v-model="activeName">
            <el-tab-pane label="Input" name="Input">
              <div style="display:flex;justify-content:space-around;">
                <div class="block-container retrieval-container" id="CurrentInstance">
                  <div>Instance: <el-input style="width:100px; margin:0; height:40px;" @change="fetchData" type="number"
                      v-model="instance_index" placeholder="Input Index" aria-label="Text"></el-input>
                  </div>
                  <div class="block" v-for="(item, index) in features_with_bound">
                    <span class="demonstration">{{item.name}}: </span>
                    <el-progress style="width:100px;" stroke-width="10" :percentage="computePercentage(item.range)"
                      :show-text="false">{{item.range[1]}}</el-progress>
                    <!-- <el-slider show-stops :step="computeStep(item.range)" style="width:130px;" v-model="value_list[index]" :min="item.range[0]" :max="item.range[2]"></el-slider> -->
                  </div>
                </div>
              </div>

            </el-tab-pane>
            <el-tab-pane label="What Output" name="What Output">

            </el-tab-pane>
            <el-tab-pane label="Certainty" name="Certainty">

            </el-tab-pane>
            <el-tab-pane label="When" name="When">
              <div class="retrival-container">
                When Type:
                <el-select style="height: 40px;" placeholder="please select" v-model="cur_retrieval_type">
                  <el-option label="Similar Instance" value="similar">
                  </el-option>
                  <el-option label="Prototypes" value="prototype">
                  </el-option>
                  <!-- <el-option label="Critique examples" value="boundary" disabled> -->
                  </el-option>
                </el-select>
                <el-button icon="el-icon-search" type="primary" @click="searchInstance"> Search</el-button>
                <el-divider></el-divider>
                <!-- <el-button :disabled="ex_instance_0.length==0 || ex_instance_1.length==0" type="warning">Contrastive explanation</el-button> -->

                <div v-if="features_with_bound.length && value_list.length">
                  <div style="display:flex; justify-content: space-around;">
                    <div class="block-container retrieval-container" v-if="ex_instance_0.length">
                      <div class="retrival-header">Example in Low Quality</div>
                      <div class="block" v-for="(item, index) in ex_instance_0"
                        :class="{ 'highlight': value_list[index] !== initial_values[index] }">
                        <span class="demonstration">{{item.name}}: </span>
                        <div class="progress-container">
                          <div class="progress-bar">
                            <div class="progress-bar-inner previous" :style="{ width: calculateWidth(features_with_bound[index].range,item.value) }"></div>
                            <div v-if="item.value>features_with_bound[index].range[1]" class="progress-bar-inner current" 
                              :style="{ marginLeft: calculateWidth(features_with_bound[index].range,item.value), width: getChange(item.value,features_with_bound[index].range) + '%' }"></div>
                            <div v-if="item.value<features_with_bound[index].range[1]" class="progress-bar-inner current_min" 
                                :style="{ marginLeft: calculateWidth(features_with_bound[index].range,item.value), width: Math.abs(getChange(item.value,features_with_bound[index].range)) + '%' }"></div>
                          </div>
                        </div>
                        <!-- <el-progress style="width:110px;" stroke-width="10"
                          :percentage="computePercentage_(item.value, index)"
                          :show-text="false">{{item.value}}</el-progress> -->
                        <span class="annotation">
                          <span
                          :class="getChangeClass(item.value, features_with_bound[index].range)">
                            <!-- <span v-if="getChange(item.value,features_with_bound[index].range)>0">+</span> -->
                            <!-- {{getChange(item.value,features_with_bound[index].range)}}% -->
                            {{getContrastText(item.value,features_with_bound[index].range)}}
                          </span>
                          <!-- <el-slider show-stops :step="computeStep(item.range)" style="width:130px;" v-model="value_list[index]" :min="item.range[0]" :max="item.range[2]"></el-slider> -->
                      </div>
                    </div>
                    <div class="block-container retrieval-container" id="CurrentInstance">
                      <div class="retrival-header">Instance: <el-input style="width:100px; margin:0; height:40px;" @change="fetchData"
                          type="number" v-model="instance_index" placeholder="Input Index" aria-label="Text"></el-input>
                      </div>

                      <div class="block" v-for="(item, index) in features_with_bound">
                        <span class="demonstration">{{item.name}}: </span>
                        <div class="progress-container">
                          <div class="progress-bar">
                            <div class="progress-bar-inner previous" :style="{ width: computePercentage(item.range) +'%' }"></div>
                          </div>
                        </div>
                        <!-- <el-progress style="width:100px;" stroke-width="10" :percentage="computePercentage(item.range)"
                          :show-text="false">{{item.range[1]}}</el-progress> -->
                        <!-- <el-slider show-stops :step="computeStep(item.range)" style="width:130px;" v-model="value_list[index]" :min="item.range[0]" :max="item.range[2]"></el-slider> -->
                      </div>
                    </div>

                    <div class="block-container retrieval-container" v-if="ex_instance_1.length">
                      <div class="retrival-header">Example in High Quality</div>
                      <div class="block" v-for="(item, index) in ex_instance_1"
                        :class="{ 'highlight': value_list[index] !== initial_values[index] }">
                        <span class="demonstration">{{item.name}}: </span>
                        <div class="progress-container">
                          <div class="progress-bar">
                            <div class="progress-bar-inner previous" :style="{ width: calculateWidth(features_with_bound[index].range,item.value) }"></div>
                            <div v-if="item.value>features_with_bound[index].range[1]" class="progress-bar-inner current" 
                              :style="{ marginLeft: calculateWidth(features_with_bound[index].range,item.value), width: getChange(item.value,features_with_bound[index].range) + '%' }"></div>
                            <div v-if="item.value<features_with_bound[index].range[1]" class="progress-bar-inner current_min" 
                                :style="{ marginLeft: calculateWidth(features_with_bound[index].range,item.value), width: Math.abs(getChange(item.value,features_with_bound[index].range)) + '%' }"></div>
                          </div>
                        </div>
                        <!-- <el-progress style="width:100px;" stroke-width="10"
                          :percentage="computePercentage_(item.value, index)"
                          :show-text="false">{{item.value}}</el-progress> -->
                        <span class="annotation">
                          <span
                          :class="getChangeClass(item.value, features_with_bound[index].range)">
                            {{getContrastText(item.value,features_with_bound[index].range)}}
                          </span>
                        </span>
                        <!-- <el-slider show-stops :step="computeStep(item.range)" style="width:130px;" v-model="value_list[index]" :min="item.range[0]" :max="item.range[2]"></el-slider> -->
                      </div>
                    </div>
                  </div>
                  <div style="margin-top:30px;">
                    <div class="explanation-container" v-if="ex_instance_0.length">
                      Insight: Current Instance is more similar to the similar case in ** Quality, which have the
                      similar features: *** , and contrastively it has more
                      different features compared to the similar case in high quality, such as ***.
                      So, based on these contrasts, this example has a higher probability to be predicted as ** Quality.
                    </div>
                  </div>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="Why(not)" name="Why(not)">
              <div style="display:flex;">
                <div class="block-container retrieval-container" id="CurrentInstance">
                  <div>Instance: <el-input style="width:100px; margin:0; height:40px;" @change="fetchData" type="number"
                      v-model="instance_index" placeholder="Input Index" aria-label="Text"></el-input></div>
                  <div class="block" v-for="(item, index) in features_with_bound">
                    <span class="demonstration">{{item.name}}: </span>
                    <el-progress style="width:100px;" stroke-width="10" :percentage="computePercentage(item.range)"
                      :show-text="false">{{item.range[1]}}</el-progress>
                    <!-- <el-slider show-stops :step="computeStep(item.range)" style="width:130px;" v-model="value_list[index]" :min="item.range[0]" :max="item.range[2]"></el-slider> -->
                  </div>
                </div>
                <img v-if="org_instance_chart_url.length" style="height: 264px; margin-top:20px;"
                  :src="org_instance_chart_url" />

                <div v-if="org_instance_chart_url.length && mode!='Prediction(Retrieval)'"
                  style="width: 100%;text-align: center; margin-top: 100px; width: 100%;margin-left: 70px; border: 1px solid; height:80px; padding: 10px; position:relative;">
                  <span style="position:absolute;top:30px;left:-40px;"> <i class="el-icon-right"></i></span>
                  <span style="font-weight: 600;">AI Prediction</span>
                  <br />
                  <span style="font-size: 14px;">Quality {{predict==null?'?':(predict > 0?'>=7':"<7")}} </span>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="What If" name="What If">

              <div style="display:flex" v-if="features_with_bound.length && value_list.length ">
                <div class="block-container retrieval-container" id="CurrentInstance">
                  <div>Instance: <el-input style="width:100px; margin:0; height:40px;" @change="fetchData" type="number"
                      v-model="instance_index" placeholder="Input Index" aria-label="Text"></el-input></div>
                  <div class="block" v-for="(item, index) in features_with_bound">
                    <span class="demonstration">{{item.name}}: </span>
                    <el-slider @change="updateAnnotation" show-stops :step="computeStep(item.range)"
                    style="width:130px;" v-model="value_list[index]" :min="item.range[0]"
                    :max="item.range[2]"></el-slider>
                    <!-- <el-slider show-stops :step="computeStep(item.range)" style="width:130px;" v-model="value_list[index]" :min="item.range[0]" :max="item.range[2]"></el-slider> -->
                  </div>
                  <div>
                    <el-button @click="fetchData">Reset</el-button>
                    <!-- <el-button @click="updateAnnotation" type="primary" @click="value_list=initial_values" :disabled="arraysAreEqual">Show Result</el-button> -->
                  </div>
                </div>

                <div v-if="org_instance_chart_url.length"
                  style="width: 100%;text-align: center; margin-top: 100px; width: 100%;margin-left: 70px; border: 1px solid; height:80px; padding: 10px; position:relative;">
                  <span style="position:absolute;top:30px;left:-40px;"> <i class="el-icon-right"></i></span>
                  <span style="font-weight: 600;">AI Prediction</span>
                  <br />
                  <span style="font-size: 14px;">Quality {{predict==null?'?':(predict > 0?'>=7':"<7")}} </span>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="How To" name="How To">
              <div style="display:flex;">
                <div class="block-container" id="CurrentInstanceEditor">
                  <div class="block" v-for="(item, index) in features_with_bound"
                    :class="{ 'highlight': value_list[index] !== initial_values[index] }">
                    <span class="demonstration">{{item.name}}: </span>
                    <span v-if="value_list[index] != initial_values[index]"
                      class="annotatio what-if-annotation">{{initial_values[index]}}->{{value_list[index]}} </span>
                    <el-slider @change="updateAnnotation" show-stops :step="computeStep(item.range)"
                      style="width:130px;" v-model="value_list[index]" :min="item.range[0]"
                      :max="item.range[2]"></el-slider>
                  </div>


                  <div>
                    <el-button @click="fetchData">Reset</el-button>
                    <!-- <el-button @click="updateAnnotation" type="primary" @click="value_list=initial_values" :disabled="arraysAreEqual">Show Result</el-button> -->
                  </div>

                </div>
                <img v-if="gam_path.length && activeName=='How To' && !isLoading" height="300px" style="width: 52%;"
                  :src="gam_path" />
                <div v-if="org_instance_chart_url.length && mode!='Prediction(Retrieval)'"
                  style="width: 100%;text-align: center; margin-top: 100px; width: 100%;margin-left: 70px; border: 1px solid; height:80px; padding: 10px; position:relative;">
                  <span style="position:absolute;top:30px;left:-40px;"> <i class="el-icon-right"></i></span>
                  <span style="font-weight: 600;">AI Prediction</span>
                  <br />
                  <span style="font-size: 14px;">Quality {{predict==null?'?':(predict > 0?'>=7':"<7")}} </span>
                </div>

              </div>
            </el-tab-pane>

          </el-tabs>
        </template>

        <span style="position:absolute;top: 50%;left: 50%;" v-if="isLoading" aria-busy="true">Loading...</span>






    </div>
    <div class="explanation-container" v-if="mode=='Prediction(What if)' && !arraysAreEqual">
      Given that both increasing and decreasing A result in positive predictions, the current instance likely
      resides in a region of the feature space where the model predicts high quality regardless of small perturbations
      in A.
      This suggests: Robust Prediction: The prediction of high quality is robust to changes in A. Confidence in
      Prediction: The model’s confidence in predicting high quality for the current instance is likely high.
    </div>
    </article>

    </div>



  </main>
</body>

</html>
<script>
  window.vueApp = new Vue({
    el: '#app',
    data() {
      return {
        dataSet: 'RedWine',
        org_instance_chart_url: '',
        instance_index: 17,
        current_feature: '',
        feature_value: null,
        features_with_bound: [],
        value_list: [],
        initial_values: [],
        predict: null,
        isLoading: false,
        mode: 'Prediction(What if)',
        cur_retrieval_type: 'similar',
        ex_instance_0: [],
        ex_instance_1: [],
        user_res: -1,
        showValidation: false,
        gam_path: '',
        activeName: 'When'
      }
    },
    methods: {
      async fetchData() {
        this.ex_instance_0 = []
        this.ex_instance_1 = []
        this.predict = null
        this.isLoading = true
        try {
          const headers = {
            'Content-Type': 'application/json'
          };
          const response = await fetch(`${window.location.href}get_org_instance_chart`, {
            method: 'POST',
            body: JSON.stringify({ 'index': this.instance_index }),
            headers: headers,
            mode: 'cors'
          });
          const res = await response.json();
          console.log("this.value_list", res.value_list)
          this.value_list = res.value_list.map(value => parseFloat(value)); // Ensure values are numbers
          console.log("this.value_list222", this.value_list)
          this.initial_values = [...this.value_list]; // Store initial values
          this.features_with_bound = res.features_with_bound;
          this.org_instance_chart_url = res.img_path
          this.gam_path = res.gam_path
          this.isLoading = false

        } catch (error) {
          console.error('Error fetching data:', error);
          this.isLoading = false
        }
      },
      async updateAnnotation() {
        this.isLoading = true
        if (this.activeName == 'How To') {
          try {
            const headers = {
              'Content-Type': 'application/json'
            };
            const response = await fetch(`${window.location.href}update_gam_annotation`, {
              method: 'POST',
              body: JSON.stringify(
                {
                  'index': this.instance_index,
                  'value_list': this.value_list,
                  'org_values': this.initial_values
                }
              ),
              headers: headers,
              mode: 'cors'
            });
            const res = await response.json();
            this.isLoading = false
            setTimeout(() => {
              this.gam_path = res.img_path
            })
            this.predict = res.predict

          } catch (error) {
            console.error('Error fetching data:', error);
          }
          return
        }
        this.org_instance_chart_url = ''
        console.log("this.value_list", this.value_list)
        try {
          const headers = {
            'Content-Type': 'application/json'
          };
          const response = await fetch(`${window.location.href}update_annotation`, {
            method: 'POST',
            body: JSON.stringify(
              {
                'index': this.instance_index,
                'value_list': this.value_list,
                'org_values': this.initial_values
              }
            ),
            headers: headers,
            mode: 'cors'
          });
          const res = await response.json();
          this.isLoading = false
          setTimeout(() => {
            this.org_instance_chart_url = res.img_path
          })
          this.predict = res.predict

        } catch (error) {
          console.error('Error fetching data:', error);
        }
      },
      computeStep(range) {
        const step = (range[2] - range[0]) / 4;
        let format_ = 3
        if (step < 0.001) {
          format_ = 5
        }
        return Number(step.toFixed(format_)); // Convert to number after fixing to 2 decimal places
      },
      computePercentage(range) {
        const percentage = ((range[1] - range[0]) / (range[2] - range[0])) * 100;
        let format_ = 1
        return Number(percentage.toFixed(format_)); // Convert to number after fixing to 2 decimal places
      },
      computePercentage_(value, index) {
        const range = this.features_with_bound[index].range
        const percentage = ((value - range[0]) / (range[2] - range[0])) * 100;
        let format_ = 1
        return Number(percentage.toFixed(format_));
      },
      async searchInstance() {
        this.fetchData()
        this.isLoading = true
        try {
          const headers = {
            'Content-Type': 'application/json'
          };
          const response = await fetch(`${window.location.href}instance_retrieval`, {
            method: 'POST',
            body: JSON.stringify({ 'index': this.instance_index, 'type': this.cur_retrieval_type }),
            headers: headers,
            mode: 'cors'
          });
          const res = await response.json();
          this.features_with_bound.forEach(feature => {
            const name = feature.name;
            if (res.instance_0.hasOwnProperty(name)) {
              this.ex_instance_0.push({ name: name, value: res.instance_0[name] });
            }
            if (res.instance_1.hasOwnProperty(name)) {
              this.ex_instance_1.push({ name: name, value: res.instance_1[name] });
            }
          });
          console.log("ex_instance_0", this.ex_instance_0, this.ex_instance_1)

          this.isLoading = false
        } catch (error) {
          console.error('Error fetching data:', error);
          this.isLoading = false
        }
      },
      startGuide() {
        this.$nextTick(() => {
          this.driver = new Driver();
          const steps = [
            {
              element: '#Chain',
              popover: {
                title: 'Chain of mental model',
                description: '***',
                position: 'right'
              },
            },
            {
              element: '#InstanceSelection',
              popover: {
                title: 'Instance Selection',
                description: '***',
                position: 'bottom'
              },
            },
            {
              element: '#SettingSelection',
              popover: {
                title: 'Setting Selection',
                description: 'Choose from various levels and types of information.',
                position: 'bottom'
              },
            },
            {
              element: '#CurrentInstance',
              popover: {
                title: 'Current Instance Info',
                description: `Displays the feature name, corresponding range, and current value of the current instance.`,
                position: 'right'
              },
            },
            {
              element: '#CurrentInstanceEditor',
              popover: {
                title: 'Current Instance Editor',
                description: `Displays the feature name, corresponding range, and current value of the current instance. You can adjust these to get the output for a new instance.`,
                position: 'right'
              },
            }
          ]
          this.driver.defineSteps(steps)
          this.driver.start()
        })
      },
      getChange(new_val, range) {
        let diff = new_val - range[1]
        const range_val = range[2] - range[0]

        let change = diff * 100 / range_val
        return Number(change.toFixed(1))
      },
      getChangeClass(value, range) {
        const change = this.getChange(value, range);
        if (Math.abs(change) < 1) {
          return 'similar';
        }
        else if (Math.abs(change) < 10) {
            return 'incremental';
        }
        else if (Math.abs(change) < 30) {
          return '';
        }
        return 'significant';
      },
      getContrastText(new_val, range) {
        let diff = this.getChange(new_val, range)
        if (diff < 1 && diff > -1) {
          return 'Similar'
        }
        let str_trend = 'lower'
        if (diff > 0) {
          str_trend = 'higher'
        }
        let str_desc = ''
        if (Math.abs(diff) < 10 ) {
          str_desc = 'Slightly'
        }
        else if (Math.abs(diff) < 30) {
          str_desc = ''
        } else if (Math.abs(diff) < 50) {
          str_desc = 'Significantly'
        } else {
          str_desc = 'Substantially'
        }
        console.log("123", str_desc + ' ' + str_trend)
        return str_desc + ' ' + str_trend
      },
      calculateWidth(value,new_val) {
        if (new_val > value[1]){
          return `${((value[1]- value[0])/ (value[2]-value[0])) * 100}%`;
        } else{
          return `${((new_val - value[0])/ (value[2]-value[0])) * 100}%`;
        }
      },
      calculateCurWidth(value,new_val){
        return `${((new_val - value[0])/ (value[2]-value[0])) * 100}%`;
      }

    },
    computed: {
      arraysAreEqual() {
        return JSON.stringify(this.initial_values) === JSON.stringify(this.value_list);
      }
    },

    created() {

    },
    mounted() {
      this.fetchData()
    }
  })
</script>
<style>
  body {
    height: calc(100vh);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .left-panel {
    height: calc(100vh - 40px);
    overflow: auto;
  }

  .block-container {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Right-align the blocks */
    margin-right: 10px;
  }

  .retrieval-container {
    margin-top: 10px;
    margin-right: 40px;
  }

  .block {
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 35.5px;
    position: relative;
  }

  .demonstration {
    margin-right: 10px;
    min-width: 150px;
    text-align: right;
    font-weight: 200;
  }

  .highlight {
    color: #2D9CDB;
    font-weight: 600;
  }
  .similar{
    color: #ccc;
    font-weight: 100;
  }
  .incremental {
    color: #A4CCE1;
    font-weight: 200;

  }

  .significant {
    color: #DB2D2D;
  }

  .annotation {
    color: #2D9CDB;
    top: 24px;
    font-size: 14px;
    font-weight: 600;
    right: 140px;
    text-wrap: nowrap;
    width: 100px;
    text-align: left;
    margin-left: 8px;
  }
  .what-if-annotation{
    position: absolute;
  }

  .el-select .el-input__inner {
    height: 40px;
  }

  .el-input .el-input__inner {
    height: 40px;
  }

  .el-input__suffix {
    height: 40px;
  }

  .retrival-container {
    text-align: center;
    margin-top: 10px;
  }

  .el-select-dropdown {
    margin-top: -15px !important;
  }

  .question-type-tag {
    position: absolute;
    right: 0;
    top: 0;
  }

  .el-timeline-item__content {
    padding-bottom: 15px;
    border-bottom: 2px solid #e5e7ed;
  }

  .explanation-container {
    border: 1px dashed #ccc;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }

  .el-tabs__content {
    height: calc(100vh - 120px);
  }
  .progress-container{
    width: 100px;
  }

  .progress-bar {
    position: relative;
    height: 10px;
    background-color: #ebeef5;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-bar-inner {
    position: absolute;
    top: 0;
    height: 100%;
  }

  .previous {
    background-color: #2D9CDB;
  }

  .current {
    background-color: #00507D;
  }
  .current_min{
    background-color: #A4CCE1;
  }
  .retrival-header{
    height: 50px;
  }
  .el-button--primary{
    background-color: #2D9CDB;
  }
</style>